<div class="feed text-center">

  <% if current_user.blank? %>

    <h3>Please sign in or sign up!</h3>

  <%end%>

      <h1>Give Trip Recommendations</h1>

          <!-- START OF LOOP BELOW -->
      <% if @trips.blank? %>

        <div class = "feednotrips">
          <h3>None of your friends have trips posted.</h3>
        </div>

      <%else%>

      <%@trips.each do |trip| %>

          <!-- INDIVIDUAL TRIP IS BELOW -->
      <div class = "trip">
          <h2><%= link_to trip.trip_name, trip_recs_url(trip) %></h2>
          <h5>Departing: <%= trip.departuredate.strftime("%B %d, %Y") %></h5>
          <h4><b><%= @trip_owner.find_by_id(trip.userid).first_name %>
            <%= @trip_owner.find_by_id(trip.userid).last_name %></b></h4>

            <% trip.trip_details.each do |details| %>

               <div class="locationdetails text-error"><span class="location"><%= details.city_or_region %>:</span><span class="recdetails muted">  <%= details.recommendation_needs %></span></div>

             <%end%>
            <% if current_user.present? && trip.userid == current_user.id %>
              <%= link_to "View Recommendations", trip_recs_url(trip), class:"btn btn-primary" %> </br>
               </br>
               </br>
              <%else%>
              <%= link_to "Give Recommendations!", trip_recs_url(trip), class:"btn btn-primary" %>


            <%end%>


            <%= link_to '<i class="icon-edit"></i> Details'.html_safe, trip_url(trip),class:"btn btn-info btn-small"  if current_user.present? && trip.userid == current_user.id %>

            <%= link_to '<i class="icon-edit"></i> Name'.html_safe, edit_trip_url(trip), class:"btn btn-warning btn-small" if current_user.present? && trip.userid == current_user.id %>

            <%= link_to '<i class="icon-trash"></i>'.html_safe, trip_url(trip), method: 'delete', data: { confirm: "Do you really want to delete this trip?" }, class:"btn btn-danger btn-small" if current_user.present? && trip.userid == current_user.id %></br>

            </br>

      </div>

       <% end %>


             <!-- INDIVIDUAL TRIP IS ABOVE -->

            <!-- END OF LOOP END OF FEED DIV -->
  <%end%>
</div>

