<div class="feed text-center">

    <h1>Your Trips</h1>

    <% if @mytrips.blank? %>

      <div class = "feednotrips">
        <h3>You haven't posted any trips.</h3>
      </div>

    <%end%>
        <!-- START OF LOOP BELOW -->

    <% @mytrips.each do |trip| %>

        <!-- INDIVIDUAL TRIP IS BELOW -->
    <div class = "trip">
        <h2><%= link_to trip.trip_name, trip_recs_url(trip) %></h2>
        <h4><b><%=current_user.first_name %> <%=current_user.last_name %></b></h4>
          <% @trip_details.where(:trip_id => trip.id).each do |details| %>
                <!-- IS THERE A BETTER WAY TO DO THIS? -->
            <div class="locationdetails text-error"><span class="location"><%= details.city_or_region %>:</span><span class="recdetails muted">  <%= details.recommendation_needs %></span></div>

          <%end%>

        <!-- INDIVIDUAL TRIP IS ABOVE -->

   <% if current_user.present? && trip.userid == current_user.id %>
            <%= link_to "View Recommendations", trip_recs_url(trip), class:"btn btn-primary" %> </br>
             </br>
             </br>
            <%else%>
            <%= link_to "Give Recommendations!", trip_recs_url(trip), class:"btn btn-primary" %>


          <%end%>


          <%= link_to '<i class="icon-edit"></i> Details'.html_safe, trip_url(trip),class:"btn btn-info btn-small"  if current_user.present? && trip.userid == current_user.id %>

          <%= link_to '<i class="icon-edit"></i> Name'.html_safe, edit_trip_url(trip), class:"btn btn-warning btn-small" if current_user.present? && trip.userid == current_user.id %>

          <%= link_to '<i class="icon-trash"></i>'.html_safe, trip_url(trip), method: 'delete', data: { confirm: "Do you really want to delete this trip?" }, class:"btn btn-danger btn-small" if current_user.present? && trip.userid == current_user.id %></br>

          </br>

    </div>

     <% end %>


           <!-- INDIVIDUAL TRIP IS ABOVE -->

          <!-- END OF LOOP END OF FEED DIV -->

</div>

