<div class="feed text-center">

    <h1>Give Trip Recommendations</h1>

        <!-- START OF LOOP BELOW -->

    <% @mytrips.each do |trip| %>

        <!-- INDIVIDUAL TRIP IS BELOW -->
    <div class = "trip">
        <h2><%= link_to trip.trip_name, trip_recs_url(trip) %></h2>
        <h4><b><%=current_user.first_name %> <%=current_user.last_name %></b></h4>
          <% @trip_details.where(:trip_id => trip.id).each do |details| %>
                <!-- IS THERE A BETTER WAY TO DO THIS? -->
             <div><b><%= details.city_or_region %>:</b>  <%= details.recommendation_needs %></div>

          <%end%>

        <!-- INDIVIDUAL TRIP IS ABOVE -->

          <% if current_user.present? && trip.userid == current_user.id %>
          <%= link_to 'Update Details   |', trip_url(trip) %><%end%>
          <% if current_user.present? && trip.userid == current_user.id %>
          <%= link_to 'Edit Trip Name   |', edit_trip_url(trip) %><%end%>
          <% if current_user.present? && trip.userid == current_user.id %>
          <%= link_to 'Remove', trip_url(trip), method: 'delete', data: { confirm: "Do you really want to delete this trip?" } %><%end%></br>
          </br>

          <%= link_to "View Recommendations", trip_recs_url(trip), class:"btn btn-primary" %>

    </div>
     <% end %>



          <!-- END OF LOOP END OF FEED DIV -->

</div>
