<div class = "recsheader">
  <h1 class="text-center">Give <%=@tripowner.first_name.capitalize%> Trip Recommendations!</h1>

    <!-- SIGNUP FORM BELOW -->
<% if current_user.blank? %>

    <h3 class="text-center">Please sign up or sign in to provide recommendations.</h3>
    <div class = "row">

        <%tripowner=User.find_by_id(@trip.userid).id%>
            <div class = "pull-left">
              <%= form_tag usersback_url, class: "form-recsignin", id:"onrecssignup", method: 'post' do %>
                <h2 class="form-recsignin-heading">SIGN UP</h2>
                <div>
                  <%= text_field_tag :first_name, nil, class: "input-block-level", placeholder: "First" %>
                </div>
                <div>
                  <%= text_field_tag :last_name, nil, class: "input-block-level", placeholder: "Last"  %>
                </div>
                <div>
                  <%= email_field_tag :email, nil, class: "input-block-level", placeholder: "Email address"  %>
                </div>
                <div>
                  <%= password_field_tag :password, nil, class: "input-block-level", placeholder: "Password"  %>
                </div>
                <div>
                  <%= password_field_tag :password_confirmation, nil, class: "input-block-level", placeholder: "Confirm Password"  %>
                </div>
                  <%= hidden_field_tag :tripowner, tripowner.to_i %>
                <div>
                  <%= submit_tag "SIGN UP", :class => 'btn btn-large btn-success' %>
                </div>
              <% end %>
            </div>
        <%= form_tag sessionback_url, class: "form-recsignin pull-right", id:"onrecssignin", method: 'post' do %>
          <h2 class="form-recsignin-heading">SIGN IN</h2>
            <%=email_field_tag :email, params[:email], class: "input-block-level", placeholder: "Email address" %>
            <%=password_field_tag :password, nil, class: "input-block-level", placeholder: "Password" %>
            <%= hidden_field_tag :tripowner, tripowner.to_i %>
            <div>
             <%= submit_tag "SIGN IN", :class => 'btn btn-large btn-success' %>
            </div>
        <%end%>
    </div>

<%end%>

             <!-- SIGNUP FORM ABOVE -->

    <legend><h2 class = "text-center"><%= @trip.trip_name %></h2>
    <h4 class = "text-center">Departing: <%= @trip.departuredate.strftime("%B %d, %Y") %></h4>

    <% if current_user.present? && @tripowner.id == current_user.id %>
    <h4 class = "text-center fontbuzz">
      **Copy the URL and send it to friends, family, and colleagues so they can fill in their recommendations**
    </h4><%end%>

    <div class = "text-center">
      <% @trip_details.each do |d| %>
      <span class = "citiesonrecs"><a href="#<%= d %>" class="smoothScroll"><%=d.city_or_region%></a></span>
      <% end %>
    </div>

  </legend>
</div>
                <!-- HEADER ABOVE -->
<div class = "recs">
        <!-- LIST OF RECOMMENDATIONS IS BELOW -->
    <% @trip_details.each do |d| %>
      <a name="<%= d %>"></a>
      </br>
      </br>
      <h2 class ="text-center"><%=d.city_or_region %></h2>
      <h3>Recs Needed: <%=d.recommendation_needs %></h3>

      <% recs = Comment.where(:trip_detail_id=>d.id)%>
      <% recs.each do |r| %>
        <% name = User.find_by(:id => r.user_id)%>
        <p class = "triangle-right">
          <b><%=name.first_name.capitalize %> <%=name.last_name.capitalize %></b>:    <%=r.recommendation %></br></br>

        <%= link_to '<i class="icon-edit"></i>'.html_safe, edit_comment_url(r),class:"btn btn-warning" if current_user.present? && r.user_id == current_user.id %>

        <%= link_to '<i class="icon-trash"></i>'.html_safe, comment_url(r), class:"btn btn-danger", method: 'delete', data: { confirm: "Do you really want to delete this rec?" } if current_user.present? && r.user_id == current_user.id %>

        </p>
      <%end%>
        <!-- LIST OF RECOMMENDATIONS IS ABOVE -->
        <!-- FORM FOR RECS BELOW -->
      <div>
        <%= form_tag(commentpost_url, method: 'post') do %>

          <h4><%= "Give your recommendations:" if current_user.present? %></h4>
          <%= text_area_tag :recommendation, nil, class: "rectextarea" if current_user.present? %>
          <%= hidden_field_tag :trip_detail_id, d.id %>
          <%= hidden_field_tag :user_id, current_user.id if current_user.present?%>

        <div>
          <% if current_user.present? && @trip.userid == current_user.id %>
            <%= submit_tag 'Add Comment', class: "btn btn-large btn-success" if current_user.present? %>
          <%else%>
            <%= submit_tag 'Submit Recs!', class: "btn btn-large btn-success" if current_user.present? %>
          <%end%>
        </div>



       <% end %>
      </div>
       <!-- FORM FOR RECS ABOVE -->
<%end%>
</div>

