<h1><%= @trip.trip_name %></h1>
<legend>New Trip Details</legend>
<!-- TRIP DETAILS FORM BELOW -->

<%= form_tag(trip_details_url, method: 'post') do %>

    <%= label_tag :city_or_region, "City or Region" %><br>
    <%= text_field_tag :city_or_region, nil, class: "inputs", placeholder: "i.e. - London or Southern Thailand"  %>

    <%= label_tag :recommendation_needs %><br>
    <%= text_field_tag :recommendation_needs, nil, class: "inputs", placeholder: "i.e. - food, lodging, things to do" %>

    <div>
      <%= hidden_field_tag :trip_id, @trip.id %>
    </div>

    <div>
      <%= submit_tag "Add to Trip", class: "btn btn-large btn-success" %>
    </div>
<% end %>


<legend>Trip Details</legend>


<% @trip_details.each do |t| %>
  <ul>
    <li>
        <%= t.city_or_region %>: <%= t.recommendation_needs %>
        <%= link_to 'Remove', trip_detail_url(t), method: 'delete' %>
    </li>
  </ul>
<%end%>

<%= link_to "POST TRIP", trips_url ,class: "btn btn-large btn-danger " %>




