<div id="myCarousel" class="carousel slide homecarousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"`></li>
    <li data-target="#myCarousel" data-slide-to="1"`></li>
    <li data-target="#myCarousel" data-slide-to="2"`></li>
    <li data-target="#myCarousel" data-slide-to="3"`></li>
    <li data-target="#myCarousel" data-slide-to="4"`></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item"><%= image_tag("dinner2.png", :class=>"homescreenshot", :alt => "screenshot1") %>
      <div class = "slidecontent">
        <h1>TrekRecs</h1>
        <h3 class = "tagline">The easiest way to collect trip recommendations from family and friends</h3>
      </div>
    </div>

    <div class="item"><%= image_tag("venice.png", :class=>"homescreenshot", :alt => "screenshot2") %>
      <div class = "slidecontent">
        <h1>TrekRecs</h1>
        <h3 class = "tagline">The easiest way to collect trip recommendations from family and friends</h3>
      </div>
    </div>

   <div class="item"><%= image_tag("sf.png", :class=>"homescreenshot", :alt => "screenshot3") %>
      <div class = "slidecontent">
        <h1>TrekRecs</h1>
        <h3 class = "tagline">The easiest way to collect trip recommendations from family and friends</h3>
      </div>
   </div>

   <div class="item"><%= image_tag("dinner.png", :class=>"homescreenshot", :alt => "screenshot4") %>
      <div class = "slidecontent">
        <h1>TrekRecs</h1>
        <h3 class = "tagline">The easiest way to collect trip recommendations from family and friends</h3>
      </div>
   </div>

   <div class="item"><%= image_tag("beach.png", :class=>"homescreenshot", :alt => "screenshot5") %>
      <div class = "slidecontent">
        <h1>Welcome to TrekRecs</h1>
        <h3 class = "tagline">The easiest way to collect trip recommendations from family and friends</h3>
      </div>
   </div>

  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<div class = "homebottomportion">
  <div class ="container">
    <h1 class = "text-center" id = "tagline">Welcome to TrekRecs!</h1>
    <h3 class = "text-center">
      The easiest way to collect and organize trip recommendations from your family and friends.
    </h3>

  <div class = "row-fluid autocenter">

      <div class = "howto span4 text-center">
        <h4>1. Post the details of your trip and the types of recommendations you need</h4>
            <i class="icon-map-marker howtoicon"></i>
            <i class="icon-plane howtoicon"></i>
            <i class="icon-suitcase howtoicon"></i>
      </div>

      <div class = "howto span4 text-center">
        <h4>2. Tell your network you need recommendations</h4>
              <i class="icon-linkedin-sign howtoicon"></i>
              <i class="icon-twitter-sign howtoicon"></i>
              <i class="icon-facebook-sign howtoicon"></i>
       </div>

       <div class = "howto span4 text-center">
        <h4>3. Sit back, relax, and watch the recommendations come</h4>
              <i class="icon-comments-alt howtoicon"></i>
       </div>
  </div>
  </div>
  <div class = "row-fluid">

       <div class = "howto span3 offset3 text-center">
        <h4>4. View all your recommendations in ONE spot</h4>
              <i class="icon-glass howtoicon"></i>
              <i class="icon-food howtoicon"></i>
       </div>

       <div class = "howto span3 text-center">
        <h4>5. Receive an organized email with all your recommendations the day before your trip</h4>
              <i class="icon-envelope-alt howtoicon"></i>
       </div>
  </div>

  <div class = "offset5">
    <%= link_to "SIGN UP", new_user_url, class:"btn btn-success btn-large" %>
    <%= link_to "SIGN IN", login_url, class:"btn btn-primary btn-large" %>
  </div>
</div>

