
  <div class = "search_results">

     <% if @usersfiltered.blank? %>
        <h3 class = "text-center">Sorry, no results found.<h3>
        </br>
      <%else%>

        <table class = "table table-hover">
          <thead>
              <h1 class = "text-center">Search Results</h1>
            <tr>
              <th>First</th>
              <th>Last</th>


              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>

          <% @usersfiltered.each do |user| %>

            <tr>
              <td><%= user.first_name.capitalize %></td>
              <td><%= user.last_name.capitalize %></td>
              <td>

                <%= form_tag friends_url, method: 'post' do %>

                   <%= hidden_field_tag :f1, current_user.id %>
                   <%= hidden_field_tag :f2, user.id %>
                   <%= hidden_field_tag :confirmed %>
                   <%= button_tag '<i class="icon-plus"></i> Add as Friend'.html_safe, class:"btn btn-small btn-success pull-right" %>

                 <%end%>
              </td>

            </tr>
          <% end %>
          </tbody>
        </table>

      </div>
      <%end%>
