<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |msg| %>
    <div class="alert alert-error">
      <a class="close" data-dismiss="alert">&times;</a>
      <%= msg %>
    </div>
  <% end %>
<% end %>

<%= form_tag users_url, class: "form-signin", method: 'post' do %>
  <h2 class="form-signin-heading">SIGN UP</h2>
  <div>
    <%= text_field_tag :first_name, nil, class: "input-block-level", placeholder: "First" %>
  </div>

  <div>

    <%= text_field_tag :last_name, nil, class: "input-block-level", placeholder: "Last"  %>
  </div>

  <div>

    <%= email_field_tag :email, nil, class: "input-block-level", placeholder: "Email address"  %>
  </div>

  <div>
    <%= password_field_tag :password, nil, class: "input-block-level", placeholder: "Password"  %>
  </div>

  <div>
    <%= password_field_tag :password_confirmation, nil, class: "input-block-level", placeholder: "Confirm Password"  %>
  </div>

  <div>
    <%= submit_tag "SIGN UP", :class => 'btn btn-large btn-success' %>
  </div>
<% end %>
