<!DOCTYPE html>

<html>
<head>
  <title>TrekRecs | Trip Recommendations Made Easy</title>
  <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
  <link rel="icon" href="assets/favicon.ico" type="image/x-icon">

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

<script type="text/javascript">
$(document).ready(function () {
    $('.carousel').carousel({
        interval: 3000
    });

    $('.carousel').carousel('cycle');
});
</script>


</head>

<body class = "mainbgcolor">

<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        </a>
        <%= link_to "TrekRecs", trips_url, :class => "brand" %>
          <ul class="nav pull-right">
            <% if current_user.present? %>
              <li>
                <%= link_to "LOG OUT", session_url, method:'delete' %>
              </li>
                <%else%>
                <li>
                  <%= form_tag sessions_url, class: "navbar-form form-inline" do %>
                <%= email_field_tag :email, params[:email], placeholder: "Email", class: "input-medium" %>
                <%= password_field_tag :password, nil, placeholder: "Password", class: "input-medium" %>
                <%= button_tag "Login", class: "btn btn-success" %>
                <% end %>
                </li>
              <%end%>
            </ul>
        </div>
      </div>
  </div>
<div class = "marginin">
    <% flash.each do |first, msg| %>
      <div class="alert alert-<%= first == :notice ? "success" : "error" %>">
        <a class="close" data-dismiss="alert">&times;</a>
        <%= msg %>

    <% end %>
</div>

<%= yield %>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="javascript/smoothscroll.js"></script>

</body>

</html>
